extends template

block content
    h1 Dorm Supplies: Fast and Cheap
    a(href="/items")
        h2 Look at Items! 
    form(style="text-align:center")
        h2 Sign up for Supplies Delivery
        input(type='text' name='name' placeholder='Name') 
        br
        input(type='email' name='email' placeholder='Email') 
        br
        input(type='password' name='password' placeholder='Password') 
        br
        input(type='number' name='classYear' placeholder='Class year') 
        br
        input(type='address' name='address' placeholder='Address') 
        br
        button(a class='button' onclick="register()") Press Me